@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

/* font-family: 'Raleway', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

:root{
    --white: white;
}

body, html {
    overflow-x: hidden;
}

header {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)) ,url(assets/bg-main.jpg);
    position: relative;
    background-size: cover;
    background-position: center;
    font-family: 'Raleway', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
nav .logo {
    color: var(--white);
    font-size: 5vmin;
}

nav .nav-links ul {
    display: flex;
    position: relative;
}

nav .nav-links ul li {
    font-size: 3vmin;
    font-weight: 900;
    margin: auto 20px;
}

nav .nav-links ul li a {
    color: var(--white);
}
nav .nav-links ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: turquoise;
    display: block;
    margin: auto;
    transition: 0.5s ease;
}

nav .nav-links ul li a:hover::after{
    width: 100%;
}

header .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    color: var(--white);
    text-align: center;
}

header .text h1 {
    font-size: 7vmin;
    font-weight: 900;
}

header .text h3 {
    font-size: 3vmin;
    margin: 30px auto;
}

header .text a {
    font-size: 2vmin;
    font-weight: 900;
    color: var(--white);
    border: 5px solid var(--white);
    border-radius: 20px;
    padding: 7px;
}